#register {
	
	width: 400px;
	margin-top: 0px;
	background-color: rgba(133,5,164,1.0);
	box-shadow: 0px 0px 20px rgba(70,1,87,1.0);
	min-height: 200px;
	border-radius: 20px;
	padding: 2%;
	float: right;
}

#register_top {

	text-align: center;
	margin-bottom: 30px;
	color:#FFFFFF;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	text-decoration: none;
	letter-spacing: 1px;
	font-size:36px;
}

#register_middle-double {

	width: 100%;
}

.register-table-text {
	
	width: 215px;
	color:#FFFFFF;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	text-decoration: none;
	letter-spacing: 1px;
	font-size:20px;
	line-height: 1.55;
}

#register-table {
	
	width:100%;
}

.input {

	width: 180px;
	box-shadow: 0px 0px 20px rgba(69,17,170, 1.0);
}

#register_bottom-nav {

	margin-top: 20px;
}

#register-table_failed-text{

	color:#FF0000;
	background-color: rgba(0,0,0,0.3);
	max-width: 165px;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-style:italic;
	letter-spacing: 1px;
	font-size:18px;
	visibility:hidden;
	padding: 2px 8px 2px 8px;
	border-radius: 5px;
}

#register_sign-up-button{

	float: right;
	background-image:url("/resources/imgs/sign-up_button-non-high-lighted.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:center; 
	cursor: pointer;
	width: 180px;
	height: 60px;
}

#register_sign-up-button:hover{

	float: right;
	background-image:url("/resources/imgs/sign-up_button-high-lighted.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:center; 
	cursor: pointer;
	width: 180px;
	height: 60px;
}

#register_cancel-button {

	float: left;
	background-image:url("/resources/imgs/cancel_button-non-high-lighted.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:center; 
	cursor: pointer;
	width: 180px;
	height: 60px;
}

#register_cancel-button:hover{

	float: left;
	background-image:url("/resources/imgs/cancel_button-high-lighted.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:center; 
	cursor: pointer;
	width: 180px;
	height: 60px;
}


