<div id="register">
	<div id="register_top">Register</div>
	<div id="register_middle-double">
		<table id="register-table">
			<tr>
				<td class="register-table-text">First Name:</td>
				<td><input type="text" class="input" id="fName" name="fName" value="" placeholder="John" /></td>
			</tr>
			<tr>
				<td class="register-table-text">Last Name:</td>
				<td><input type="text" class="input" id="lName" name="lName" value="" placeholder="Doe" /></td>
			</tr>
			<tr>
				<td class="register-table-text">Email Address:</td>
				<td><input type="email" class="input" id="eAddress" name="eAddress" value="" placeholder="john-doe@example.com" /></td>
			</tr>
			<tr>
				<td class="register-table-text">Date Of Birth:</td>
				<td><input type="date" class="input" id="DOB" name="DOB" value=""  placeholder="16/03/1994" /></td>
			</tr>
			<tr>
				<td class="register-table-text">Password:</td>
				<td><input type="password" class="input" id="oPassword" name="oPassword" value="" placeholder="Minimum 8 Characters" /></td>
			</tr>
			<tr>
				<td class="register-table-text">Confirm Password:</td>
				<td><input type="password" class="input" id="cPassword" name="cPassword" value="" placeholder="Minimum 8 Characters" /></td>
			</tr>
			<tr>
				<td><p id="register-table_failed-text">Registration Failed.</p></td>
			</tr>
		</table>
	</div>
	<div id="register_bottom-nav">
		<div id="register_sign-up-button"></div>
		<div id="register_cancel-button"></div>
	</div>
</div>