<div id="sign-in">
	<div id="sign-in_top">Welcome</div>
	<form name="sign-in-form" id="sign-in-form" method="post" action="/home/" >
		<div id="sign-in_middle-double">
			<table id="sign-in-table">
				<tr>
					<td class="sign-in-table-text">Email Address:</td>
					<td><input type="email" class="input" name="emailAddress" id="emailAddress" placeholder="john-doe@example.com" /></td>
				</tr>
				<tr>
					<td class="sign-in-table-text">Password:</td>
					<td><input type="password" class="input" name="password" id="password" placeholder="Password" /></td>
				</tr>
				<tr>
					<td><p id="sign-in-table_failed-text">Sign In Failed.</p></td>
					<td><div id="sign-in_forgot-password">Forgot your password?</div></td>
				</tr>
				
			</table>
		</div>
		<div id="sign-in_bottom-nav">
			<div id="sign-in_register-button"></div>
			<div id="sign-in_sign-in-button"></div>
		</div>
	</form>
</div>