html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1 Thank you for registering with SVC
      h3 Please click <a href=#{link} >here</a> to activate your account.